<nav>
  <%= link_to "Store", root_path%>
  <div>
    <% if authenticated?%>
      <%= link_to "My Orders",orders_path%>
      <%= link_to "New Product", new_product_path%>
      <%= button_to "Log Out", session_path, method: :delete%>
    <% else %>
      <%= link_to "Sign Up", new_user_path%>
      <%= link_to "Log In", new_session_path%>
    <%end%>
  </div>  
</nav>