<%# <h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p> %>

<h1><%= @product.name %></h1>
<p><%= number_to_currency(@product.price)%></p>

<p><%= @product.category.name%></p>

<%= form_with url: orders_path do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <div>
    <%= form.label :quantity, "Quantity" %>
    <%= form.number_field :quantity, value: 1, min: 1 %>
  </div>
  <%= form.submit "Order Now",
      data: { turbo_confirm: "Confirm order for #{@product.name}?" } %>
<% end %>

<%= link_to "Back",products_path%>
<%=link_to "Edit", edit_product_path(@product) if authenticated? %>
<%=button_to "Delete", @product, method: :delete, data: {turbo_confirm: "Are you sure?"}%>